<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.css" />
        <title><%= checklist.name %></title>
    </head>
    <body>
        <nav class="navbar is-black">
            <div class="navbar-brand">
                <a class="navbar-item" href="#"> TODO-List </a>
                <div class="navbar-burger burger" data-target="navMenuColorblack-example">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="title size-4"><%= checklist.name %></h1>
                    </div>
                    <div class="column is-one-fifth">
                        <a href="/checklists/<%= checklist._id %>/tasks/new" class="button is-success is-small">Nova Tarefa</a>
                        <a href="/checklists" class="button is-small">Voltar</a>
                    </div>
                </div>

                <hr />

                <% checklist.tasks.forEach(task => { %>
                <div class="columns">
                    <div class="column is-four-fifths"><input type="checkbox" /><%= task.name %></div>

                    <div class="column is-one-fifth">
                        <a href="/tasks/<%= task._id %>?_method=delete" class="button is-danger is-small">Remover</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </section>
    </body>
</html>
